.thebackground {
    -fx-background-color : #34465d;
    }

.sectionTitle {
    -fx-text-fill   : #0084ff;
    -fx-font-weight : bolder;
    -fx-font-size   : 14px;
    -fx-border-radius: 100px;
        -fx-background-radius: 200px;
    }

.warningText {
    -fx-fill : #0277BD;
    }

.inputSection {
    -fx-background-color : #E1F5FE;
    }

.button {
    -fx-background-color : #29B6F6;
    -fx-text-fill        : #E1F5FE;
    -fx-font-weight      : 900;
    }

.button:hover {
    -fx-background-color : #01579B;
    }
    /********************************************
    *                                           *
    *       TableView                           *
    *                                           *
    *********************************************/
    .table-view{
        -fx-border-color: rgb(130,135,144);
        -fx-background-color: white;
    }

    .table-view > column-header-background > nested-column-header > .arrow{
        -fx-shape:null;
    }

    .table-view > .column-header-background > .nested-column-header > .column-header{
        -fx-pref-height: 23px;
        -fx-border-color: rgb(213,213,213);
        -fx-border-width: 0 1 1 0;
        -fx-background-color:
            linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(255,255,255) 40%, rgb(247,248,250) 41%, rgb(241,242,244) 100%);
    }

    .table-view > .column-header-background > .nested-column-header > .column-header:hover{
        -fx-border-color: transparent rgb(136,203,235) rgb(147,201,227) rgb(105,187,227);
        -fx-border-width: 0 1 1 1;
        -fx-background-color:
            linear-gradient(to bottom, rgb(227,247,255) 0%, rgb(227,247,255) 40%, rgb(189,237,255) 41%, rgb(183,231,251) 100%);
    }

    .table-view > .column-header-background > .nested-column-header > .column-header:pressed{
        -fx-translate-x: 1px;
        -fx-translate-y: 1px;
        -fx-border-color: rgb(134,163,178) rgb(79,144,174) rgb(147,201,227) rgb(80,145,175);
        -fx-border-width: 1;
        -fx-background-color:
            linear-gradient(to bottom, rgb(188,228,249) 0%, rgb(188,228,249) 40%, rgb(141,214,247) 41%, rgb(138,209,245) 100%);
    }

    .table-view > .column-header-background > .nested-column-header > .column-header > .label{
        -fx-translate-x: 4px;
        -fx-alignment: center-left;
    }
